body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

html{
  background-color: #4b3a04a6;
}


.card{
  background-color: #866a0fb4;
  width: 300px;
  border: 15px solid rgb(0, 92, 0);
  padding: 50px;
  margin: 20px;
  
}

.card > p
{
  background: rgb(228, 220, 220);
  color: hsla(187, 77%, 27%, 0.993);
  font-size: larger;
  font-weight: bold;
}



.delete{

  background: rgb(224, 138, 138);

}

.edits{
  background: lightblue;
}